header{
  display: flex;
}

.page-section{
  font-family: Poppins;
  color: #004402;
  justify-content: center;
  align-items: center;
  display: flex;
}

.page-section a{
  color: inherit;
  font-weight: bold;
}

header .col{
  padding: 0;
}

.header-btn {
  display: flex;
  justify-content: right;
  max-height: 28px;
}

.header-btn button{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Poppins Light;
  border-radius: 5px;
  margin-left: 10px;
}

.edit-btn{
  background-color: #004402;
  color: white;
  font-size: 12px;
  padding: 10px 30px;
}

.edit-btn i{
  font-size: 15px;
  margin-right: 5px;
}

.delete-btn i{
  font-size: 15px;
}

.table-area{
  background-color: white;
  border-radius: 10px;
  font-family: Poppins;
}

.franchise-text{
  padding: 20px;
  color: #004402;
  font-weight: bold;
}

.table-functionalities{
  width: 100%;
  display: flex;
  border-top: rgba(0, 0, 0, 0.25) solid 1px;
  padding: 20px;
}

.search-input{
  padding: 5px 0 5px 22px;
  width: 227px;
  font-size: 15px;
  border-radius: 5px;
  border: rgba(0, 0, 0, 0.25) solid 1px;
}

.search-container{
  display: flex;
  align-items: center;
}

.search-container i{
  position: relative;
  right: 222px;
}

.operator-table{
  min-width: 100%;
  text-align: center;
}

.table-wrapper{
  overflow: auto;
}

table th{
  padding: 10px 30px;
}

.table-header{
  background-color: #004402;
  color: white;
  font-size: 15px;
  font-family: Poppins ExtraLight;
}

.checkbox-group {
  padding: 10px;
  display: flex;
  align-items: center;
}

.checkbox-group input[type="checkbox"] {
  display: none;
}

.checkbox-label {
  position: relative;
  width: 25px;
  height: 25px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  background-color: white;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 0;
  border-radius: 5px;
}

.checkbox-group input[type="checkbox"]:checked + .checkbox-label::before {
  content: "\2713";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.checkbox-group input[type="checkbox"]:checked + .checkbox-label {
  background-color: #004402;
}

table td{
  padding: 10px 30px;
  font-size: 15px;
  color: #004402;
  border-bottom: rgba(0, 0, 0, 0.25) solid 1px;
}

.pagination{
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination a{
  color: gray;
  padding: 10px;
}